.App {
  text-align: center;
}
.body{
background-image: url(../img/imgback1280x800.jpg);
background-size: cover;
background-repeat: no-repeat;
margin: 0;
height: 100vh;

}
/* 
.responsive{

} */






